<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Application</title>
    <link rel="stylesheet" href="./static/style.css" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript" src="../static/brython/brython.js"></script>
    <script type="text/javascript" src="../static/brython/brython_stdlib.js"></script>
</head>
<body onload="brython(2)" data-bs-theme="dark" class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><h1>thinkChart</h1></a>
        <!-- Add your navigation links here -->
    </nav>
    <div class="container-fluid full-height full-width">
        <div class="row bg-dark h-auto w-auto">
            <!-- Settings Form Column -->
            <div class="col-md-3 bg-dark card w-25" id="settings-form">
                <div class="card-header text-light-emphasis"><h3>Settings</h3></div>
                
                <!-- Add your settings form controls here -->
                <!-- For example, you can add input fields, sliders, buttons, etc. -->
                <button id="run_add" class="btn btn-primary">Draw Square</button>
                <button id="show_hide_dots" class="btn btn-primary">Show</button>
            </div>

            <!-- Canvas Column -->
            <div class="col-md-9">
                <div id="zone">
                    <button type="button" class="btn btn-primary position-relative">
                        Profile
                        <span class="spanDot position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle visually-hidden"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/python">
        from browser import document, html, bind

        show_dots = False
        nb = 0

        class ElementMove:

            def __init__(self, moving):
                """Make "moving" element movable with the mouse"""
                self.moving = moving
                self.is_moving = False
                self.moving.bind("mousedown", self.start)
                self.moving.bind("mouseup", self.stop)
                moving.style.cursor = "move"
                moving.style.position = "absolute"
                moving.classList.add("btn","btn-outline-danger")
                self.positions = [
                    ["top-50","start-0"],
                    ["top-50","start-100"],
                    ["top-0","start-50"],
                    ["top-100","start-50"]
                ]
                for pos in self.positions:
                    self.dot = html.SPAN("")
                    self.dot.classList.add("spanDot","position-absolute",pos[0],pos[1],"translate-middle","p-2","bg-danger","rounded-circle")
                    if show_dots:
                        self.dot.classList.remove("visually-hidden")
                    else:
                        self.dot.classList.add("visually-hidden")
                    self.moving <= self.dot
        
            def start(self, event):
                """When user clicks on the moving element, set boolean is_moving
                to True and store mouse and moving element positions"""
                self.is_moving = True
                self.mouse_pos = [event.x, event.y]
                self.elt_pos = [self.moving.left, self.moving.top]
                document.bind("mousemove", self.move)
                # prevent default behaviour to avoid selecting the moving element
                event.preventDefault()
        
            def move(self, event):
                """User moves the mouse"""
                if not self.is_moving:
                    return
        
                # set new moving element coordinates
                self.moving.left = self.elt_pos[0] + event.x - self.mouse_pos[0]
                self.moving.top = self.elt_pos[1] + event.y - self.mouse_pos[1]
        
            def stop(self, event):
                """When user releases the mouse button, stop moving the element"""
                self.is_moving = False
                document.unbind("mousemove")

        
        
        @bind("#run_add","click")
        def add_element(event):
            global nb
            element = document.getElementById("zone")
            new_obj = html.DIV(f"drag_me_{nb}",id=f"obj{nb}")
            new_obj
            element <= new_obj
            nb += 1
            ElementMove(document[new_obj.id])

        @bind("#show_hide_dots", "click")
        def show_hide_dots(event):
            global show_dots
            if show_dots:
                show_dots = False
            else:
                show_dots = True
            dots = document.select('.spanDot')
            for dot in dots:     
                if show_dots:
                    dot.classList.remove("visually-hidden")
                else:
                    dot.classList.add("visually-hidden")
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
